#profile {
  padding-top: 7.5rem;
  @include transition(0,-1rem);

  
  .p_content {
    width: 50%;
    font-size: 1.6rem;
    margin-right: auto;
    
    @include tab {
      width: 100%;
      margin: 0 auto;
    }
    
    p {
      line-height: 3rem;
    }
  }
}

#profile.fade_in {
  @include fade_in;
}